@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0.5rem; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
  cursor: pointer;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: #7254c5;
  outline: 1px solid slategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary-violet: #754fdf;
  --secondry-white: #f6f8fc;
  --pure-white: #ffffff;
  --grey: #414141;
  --light-grey: #00000062;
}

/* Primary violet color = #754FDF 
   background-white: #F6F8FC
   

*/
